#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: PA8
max_power: 1.0
shutdown_speed: 1
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: PE5
kick_start_time: 0.5
cycle_time: 0.1
off_below: 0.09

[temperature_fan chamber_fan]
pin: PA3
max_power: 1
shutdown_speed: 0
#cycle_time: 0.15
kick_start_time: 0.8
off_below: 0.10
sensor_type: Generic 3950
sensor_pin: PF4
pullup_resistor: 4700
control: pid
pid_Kp: 4
pid_Ki: 2
pid_Kd: 30
min_temp: 0
max_temp: 80
target_temp: 0
max_speed: 1.0
min_speed: 0.20
gcode_id: C

[controller_fan controller_fan_left_in]
##	Controller fan - Z board, HE1 Connector
pin: PD13
kick_start_time: 0.5
heater: heater_bed, extruder
stepper: extruder
fan_speed: 0.50
idle_timeout: 300
idle_speed: 0.20
cycle_time: 0.03


[controller_fan controller_fan_right_out]
##  Controller fan - HE1 Connector
pin: PD14
kick_start_time: 0.5
heater: heater_bed, extruder
stepper: extruder
fan_speed: 0.30
idle_timeout: 300
idle_speed: 0.15
cycle_time: 0.03

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: PF5
min_temp: 0
max_temp: 100
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.

[temperature_fan Raspbery_fan]
pin: PD12
max_power: 1
shutdown_speed: 0
#cycle_time: 0.03
kick_start_time: 0.5
off_below: 0.10
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
control: pid
pid_Kp: 4
pid_Ki: 2
pid_Kd: 30
min_temp: 0
max_temp: 80
target_temp: 48
max_speed: 1
min_speed: 0.20
#gcode_id: C

[controller_fan Nevermore]
##	Controller fan - Z board, HE1 Connector
pin: PB10
kick_start_time: 0.5
heater: heater_bed
stepper: extruder
fan_speed: 0.5
idle_timeout: 900
idle_speed: 0.20
#cycle_time: 0.03

#####################################################################
# 	Thermistor Control
#####################################################################
#[temperature_sensor chamber]
#sensor_type: Generic 3950
#sensor_pin: P0.23
#min_temp: 10
#max_temp: 100
#gcode_id: C

#[temperature_sensor raspberry_pi]
#sensor_type: temperature_host
#min_temp: 10
#max_temp: 100

[temperature_sensor octopus]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 10
max_temp: 80

#[temperature_sensor SSR]
#sensor_type: Generic 3950
#sensor_pin: PF7
#min_temp: 10
#max_temp: 60

#[temperature_sensor netzteil]
#sensor_type: Generic 3950
#sensor_pin: PF6
#min_temp: 10
#max_temp: 70