#####################################################################
#  Bed Mesh Definition
#####################################################################
[bed_mesh]
##  Start end end point of mesh 
mesh_min: 40,40
mesh_max: 260,260
speed: 300
horizontal_move_z: 6
probe_count: 5,5     
algorithm: bicubic
##[(9x9)-1] / 2 = 40
##[(7x7)-1] / 2 = 24
##[(5x5)-1] / 2 = 12
#relative_reference_index: 12   #24
fade_start: 1
fade_end: 3 #5   #3  for pif
#fade_target: 0
move_check_distance: 3    #old 4
split_delta_z: 0.0125
mesh_pps: 2,2
#faulty_region_1_min: 70.0, 70.0
#faulty_region_1_max: 30.0, 110.0


[z_tilt]
##	Use Z_TILT_ADJUST to level the bed left to right.
#z_positions:
 #   -35, 215
#	340, 215
z_positions:
    -35, 205
    340, 205
#points:
	#7, 127
	#296, 127
points:
    30, 127
    270, 127
speed: 300
retries: 5
retry_tolerance: 0.005



[screws_tilt_adjust]
## To run this command, use SCREWS_TILT_CALCULATE
screw_thread: CCW-M3
screw1: 40,230 
#screw1: 130,237
screw1_name: rear left screw
screw2: 260,230 
#screw2: 170,237
screw2_name: rear right screw
screw3: 228,50 #20                  #so wars 150,0
screw3_name: front right screw
screw4: 77,50 #20                  #so wars 150,0
screw4_name: front left screw
horizontal_move_z: 8 
speed: 300
screw_thread: CCW-M3





