#####################################################################
# 	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - XYE board, HE1 Connector
pin: EBB:PA0 #P2.4
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 60.0

[fan]
##	Print Cooling Fan - XYE board, Fan Pin
pin: EBB:PA1 #P2.3
kick_start_time: 0.5
cycle_time: 0.1
off_below: 0.09

[temperature_fan chamber_fan]
pin: Expander:PA0
max_power: 1
shutdown_speed: 0
#cycle_time: 0.15
kick_start_time: 0.8
off_below: 0.15
sensor_type: Generic 3950
sensor_pin: Expander:PA6
control: pid
pid_Kp: 4
pid_Ki: 2
pid_Kd: 30
#max_delta: 1
min_temp: 0
max_temp: 80
target_temp: 0
max_speed: 1.0
min_speed: 0.10
gcode_id: C

[temperature_fan Enclosure]
pin: Expander:PA1
max_power: 1
shutdown_speed: 0
#cycle_time: 0.15
kick_start_time: 0.8
off_below: 0.10
sensor_type: Generic 3950
sensor_pin: Expander:PA5
control: pid
pid_Kp: 4
pid_Ki: 2
pid_Kd: 30
#max_delta: 1
min_temp: 10
max_temp: 80
target_temp: 45
max_speed: 1
min_speed: 0.2
#gcode_id: C

[temperature_sensor Chamber]
sensor_type: Generic 3950
sensor_pin: P0.23
min_temp: 0
max_temp: 100
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.