[gcode_macro FLOW_TEST]
gcode:
    {% set flowrate = params.FLOW|default(3)|float %}
    {% set nozzle_diameter = printer.configfile.settings.extruder.nozzle_diameter|float %}
    {% set filament_diameter = printer.configfile.settings.extruder.filament_diameter|float %}
    {% set filament_footprint = filament_diameter * filament_diameter * 3.14 / 4 %}
    {% set extrude_speed = flowrate / filament_footprint * 60 %}
    { action_respond_info("Flowtest: %.1f mm3/s" % (flowrate)) }
    M83           ;relative extrusions
    G92 E0        ;reset extruder
    G1 F450       ;450mm/s speed = 7.5mm/s speed
    G1 E20        ;prime 20mm
    G4 P500       ;pause 500ms
    G92 E0        ;reset extruder
    G1 F{extrude_speed}
    G1 E250

### menu test ###
[menu __main __flowtest]
type: list
name: Flowtest 50

[menu __main __flowtest __preheat_pla]
type: command
name: Preheat PLA
gcode: SET_HEATER_TEMPERATURE HEATER=extruder TARGET=210

[menu __main __flowtest __preheat_abs]
type: command
name: Preheat ABS
gcode: SET_HEATER_TEMPERATURE HEATER=extruder TARGET=250

[menu __main __flowtest __extruder_temp]
type: command
name: T0 Temp: {printer.extruder.temperature}C
gcode:

[menu __main __flowtest __extruder_speed]
type: command
name: T0 Speed: {printer.motion_report.live_extruder_velocity}
gcode:

[menu __main __flowtest __flow_test]
type: input
name: Flow Test: {menu.input}
input: 3
input_min: 3
input_max: 51
input_step: 1
gcode: FLOW_TEST FLOW={menu.input}