[gcode_macro FLOW_TEST]
gcode:
    {% set flowrate = params.FLOW|default(3)|float %}
    {% set nozzle_diameter = printer.configfile.settings.extruder.nozzle_diameter|float %}
    {% set filament_diameter = printer.configfile.settings.extruder.filament_diameter|float %}
    {% set filament_footprint = filament_diameter * filament_diameter * 3.14 / 4 %}
    {% set extrude_speed = flowrate / filament_footprint * 60 %}
    { action_respond_info("Flowtest: %.1f mm3/s" % (flowrate)) }
    M83           ;relative extrusions
    G92 E0        ;reset extruder
    G1 F450       ;450mm/s speed = 7.5mm/s speed
    G1 E20        ;prime 20mm
    G4 P500       ;pause 500ms
    G92 E0        ;reset extruder
    G1 F{extrude_speed}
    G1 E250

### menu test ###
