#####################################################################
# 	Extruder
#####################################################################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
rotation_distance: 34.868 #21.62
gear_ratio: 7.5:1 #50:17
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: P2.7
sensor_type: PT1000
sensor_pin: P0.24
pullup_resistor: 4700              #1000 nach umlöten
pwm_cycle_time: 0.05
smooth_time: 2.0
min_temp: 0
max_temp: 310
max_power: 0.85
min_extrude_temp: 190
control=pid
pid_Kp=25.510 
pid_Ki=1.701 
pid_Kd=95.663
#pid_Kp=27.816 
#pid_Ki=1.973 
#pid_Kd=98.051
pressure_advance: 0.043
pressure_advance_smooth_time: 0.040
max_extrude_only_distance: 100


#####################################################################
# 	Bed Heater
#####################################################################
[thermistor HB_CALI]
temperature1:60
resistance1:23453.593
temperature2:80
resistance2:11990.732
temperature3:105
resistance3:5210.659

[heater_bed]
heater_pin: P2.5
sensor_type: HB_CALI
sensor_pin: P0.25
pullup_resistor: 4700
max_power: 1
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.2 
control = pid
pid_Kp=68.230 
pid_Ki=2.136 
pid_Kd=544.985
