[homing_override]
axes: z
set_position_z: 0
gcode:

  SAVE_GCODE_STATE NAME=STATE_HOMING
  _PRINT_AR T="HOMING" SHOW_LCD=true
  G91          ; set relative
  G0 Z10 F1200 ; lift nozzle
  G90          ; set absolute
  ## reduce current of Z motors
  _SET_ACC VAL=HOME
  # Home X and Y only for G28 or G28 XYZ
  {% if 'z' in params|lower %}
    {% if "x" not in printer.toolhead.homed_axes %}
      _PRINT_AR T="Referenzpunkt:X" SHOW_LCD=true
      G28 X
    {% endif %}
    {% if "y" not in printer.toolhead.homed_axes %}
      _PRINT_AR T="Referenzpunkt:Y" SHOW_LCD=true
      G28 Y
    {% endif %}
  {% else %}
    _PRINT_AR T="Referenzpunkt:XY" SHOW_LCD=true
    G28 X Y
  {% endif %}
    ##	XY Location of the Z Endstop Switch
    _PRINT_AR T="Referenzpunkt:Z" SHOW_LCD=true
    _MOVE_ZSTOP
    # Home Z
    G28 Z
    ## move nozzle from pin
    G91
    G0 Z2 F600
    # Lift Z
    G90
    G0 Z10 F1200
    ## return to org settings
  _SET_ACC
  M400
  # QGL only when required
  {% if not printer.quad_gantry_level.applied %}
    QUAD_GANTRY_LEVEL 
  {% endif %}
  M117
  RESTORE_GCODE_STATE NAME=STATE_HOMING

[gcode_macro _MOVE_ZSTOP]
description: Helper: Move to Z Enstop Pos. in XY
gcode:
  {% set X_ZSTOP = 70.5 %}
  {% set Y_ZSTOP = 255 %}
  {% if printer.toolhead.position.z|float < 10 %}
    G0 Z10 F1200 ; lift nozzle
  {% endif %}
  G0 X{X_ZSTOP} Y{Y_ZSTOP} F18000
  
