[neopixel Druckraum]
##	To control Neopixel RGB in CASE  Left
pin: P1.24
chain_count: 62
#color_order: GRBW
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[neopixel status_bar]
pin: Expander:PB1
chain_count: 30
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

#####################################################################
# 	Light Macro
#####################################################################

[gcode_macro LIGHT_ON]
description: Toggle Light
variable_state: 'on'
variable_led_array = ['Druckraum'] 
gcode:
 SET_LED LED=Druckraum RED=0 GREEN=0 BLUE=0
    {% for pixel in range(1,31) %}
        SET_LED LED=Druckraum RED=0.6 GREEN=0.6 BLUE=0.6 INDEX={pixel}
        SET_LED LED=Druckraum RED=0.6 GREEN=0.6 BLUE=0.6 INDEX={31+pixel}
        G4 P70
    {% endfor %}
  

[gcode_macro LIGHT_OFF]
description: Helper: Light off
gcode:
  SET_LED LED=Druckraum RED=0.0 GREEN=0.0 BLUE=0.0

[delayed_gcode _CASE_LIGHT_BOOT_UP]
initial_duration: 1
gcode:
  FADE_IN

[gcode_macro FADE_IN]
variable_led_array = ['Druckraum','status_bar'] 
gcode:
  {% set TIME = params.R|default(40) %}
  {% for fade in range(0, 11) %}
    {% for name in led_array %}
      SET_LED LED={name} GREEN={fade|float / 10.0} RED=0 BLUE=0 TRANSMIT=1
    {% endfor %}
    G4 P{TIME}
  {% endfor %}

[gcode_macro FADE_OUT]
variable_led_array = ['Druckraum'] 
gcode:
  {% set TIME = params.R|default(30) %}
  {% for fade in range(0, 11) %}
    {% for name in led_array %}
      SET_LED LED={name} GREEN={(10-fade)|float /10.0} RED=0 BLUE=0 TRANSMIT=1
    {% endfor %}
    G4 P{TIME}
  {% endfor %}

[gcode_macro FADE_OUT_WHITE]
variable_led_array = ['Druckraum'] 
gcode:
  {% set TIME = params.R|default(30) %}
  {% for fade in range(0, 11) %}
    {% for name in led_array %}
      SET_LED LED={name} GREEN={(10-fade)|float /10.0} RED={(10-fade)|float /10.0} BLUE={(10-fade)|float /10.0} TRANSMIT=1
    {% endfor %}
    G4 P{TIME}
  {% endfor %}


[gcode_macro FADEINGREEN]
gcode:
    SET_LED LED=Druckraum RED=0.6 GREEN=0.6 BLUE=0.6
    {% for pixel in range(1,30) %}
        SET_LED LED=Druckraum RED=0 GREEN=1 BLUE=0 INDEX={pixel}
        SET_LED LED=Druckraum RED=0 GREEN=1 BLUE=0 INDEX={30+pixel}
        G4 P70
    {% endfor %}

