#####################################################################
#  MCU Settings
#####################################################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_16F0FF17A9846AAFD8FA545EC32000F5-if00
##	MCU for X/Y/E steppers main MCU
##	[X in X] - B Motor
##	[Y in Y] - A Motor
##	[E in E0] - Extruder
##	[Z in Z] - Left
##	[Z1 in E1]- Right
##--------------------------------------------------------------------
[mcu Expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_300006000843535031303420-if00

#[temperature_sensor Expander]
#sensor_type: temperature_mcu
#sensor_mcu: mcu
#sensor_path: /dev/serial/by-id/usb-Klipper_stm32f042x6_300006000843535031303420-if00
#min_temp: 0
#max_temp: 100
##--------------------------------------------------------------------

[mcu EBB]
canbus_uuid: 5e0bff7e3004

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

##--------------------------------------------------------------------
[temperature_sensor Raspberry]
sensor_type: temperature_host
sensor_path: /sys/class/thermal/thermal_zone0/temp
min_temp: 10
max_temp: 80

#####################################################################
#  Printer Settings
#####################################################################
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 4500
#max_accel_to_decel:10000
max_z_velocity: 15
max_z_accel: 150
square_corner_velocity: 5.0

[virtual_sdcard]
path: ~/gcode_files

[display_status]

[pause_resume]
#recover_velocity: 250

#[gcode_arcs]
#resolution: 0.2

[idle_timeout]
gcode:
  status_off
  TURN_OFF_HEATERS
  SET_TEMPERATURE_FAN_TARGET temperature_fan=Enclosure TARGET=0
  M84

timeout: 1800

[firmware_retraction]
retract_length: 0
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

#####################################################################
#  Slicer Macro Settings
#####################################################################
#[include slicer.cfg]

#####################################################################
#  LCD Settings
#####################################################################
[include macro.cfg]

#####################################################################
#  Stepper Settings
#####################################################################
[include stepper.cfg]


#####################################################################
#  TMC Settings
#####################################################################
[include tmc.cfg]


#####################################################################
#  Homing Settings
#####################################################################
[include homing.cfg]

#####################################################################
#  Probe and Gantry Adjustment Routines
#####################################################################
[include probe_qgl.cfg]
[include z-autocalibrate.cfg]

#####################################################################
#  Bed Mesh 
#####################################################################
[include bed_mesh.cfg]

#####################################################################
#  Fan Control & extra Thermistor
#####################################################################
[include fan.cfg]

#####################################################################
#  Extruder & Headbed
#####################################################################
[include heater.cfg]

#####################################################################
#  Input Shaper
#####################################################################
[include input_shaper.cfg]

#####################################################################
#  Case Light
#####################################################################
#[include light.cfg]
[include Druckraum.cfg]

#####################################################################
#  Flow_Test
#####################################################################
[include Flow.cfg]

#####################################################################
#  Nozzle Clean
#####################################################################
[include nozzle_scrub.cfg]
