#####################################################################
# 	Probe
#####################################################################

#[probe]
##	Inductive Probe
##	This probe is not used for Z height, only Quad Gantry Leveling
##	Z_MAX on mcu_z
##	If your probe is NO instead of NC, add change pin to !z:P0.10
#pin: P2.0
#x_offset: 0
#y_offset: 25.0                              
#z_offset: -0.150                #glatteplatte
#z_offset: 0.390                 #Strukturierte  platte
#speed: 4                  
#lift_speed: 10
#samples: 3
#samples_result: median
#sample_retract_dist: 1.5
#samples_tolerance: 0.006
#samples_tolerance_retries: 10


[bltouch]
sensor_pin: EBB:PB8
control_pin: EBB:PB9
x_offset: 0
y_offset: 22.85
z_offset: 1.410 #0.930
speed: 5.0
samples: 3
samples_result: median
sample_retract_dist: 4
samples_tolerance: 0.005
samples_tolerance_retries: 5
pin_up_touch_mode_reports_triggered: False
#probe_with_touch_mode: True
#stow_on_each_sample: False
pin_move_time: 1